/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter&family=Lumanosimo&family=Open+Sans:ital@1&family=Playfair+Display:wght@500&family=Roboto+Slab:wght@500&display=swap');

*{
    font-family: 'Inter', sans-serif;
}  */
.container{
    
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hexColor{
 
    text-align: center;
}
.hexColor h1{
    font-size: 4rem;
    text-transform: uppercase;
    animation: colorchange 5s infinite alternate;
}
.hexColor h2{
   
    font-size: 2rem;
    margin-top: 15%;
}
@keyframes colorchange{
    0%{
        color: red;
    }
    20%{
        color: brown;
    }
    40%{
        color: yellow;
    }
    60%{
        color: green;
    }
    80%{
        color: blue;
    }
    100%{
        color:blueviolet;
    }
    
}
@media(max-width:480px){
    .hexColor h1{
        font: size 2rem;
    }
    .hexColor h2{
        font-size: 2rem;
    }
}